<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>What Would Gandalf Say</title>
  <meta name="description" content="What Would Gandalf Say, Gandalf quotes">
  <meta name="author" content="HKi">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="vue.js"></script>
  <script src="app.js"></script>

  <link href='style.css' rel='stylesheet' type='text/css'>
</head>

<body>

  <section id="app" class='vertical-container'>
  	<blockquote v-if="quote">
  		<h1>{{ quote.quote }}</h1>
  		<footer>— {{ quote.author }}</footer>
  	</blockquote>
  </section>

</body>
</html>
